<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Churn Visualization</title>
</head>
<style>
    
/* ukuran gambar utama */
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}
    
/* untuk tombol next dan back */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 20px;
    font-size: 30px;
}
    
/* untuk posisi tombol next dan back */
.next {
    right: 0;
}
.prev {
    left: 0;
}
    
/* warna tombol next dan back */
.prev:hover, .next:hover {
    background-color: grey;
}
    
/* text dibawah gambar */
.text {
    color: black;
    font-size: 20px;
    text-align: center;
}
    
/* text angka di pojok atas */
.numbertext {
    color: black;
    font-size: 20px;
}
    
/* bullet dibawah gambar */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}
    
.active, .dot:hover {
    background-color: black;
}

</style>

<body style="background-image: url({{url_for('static',filename='bright.jpg') }});background-size:cover;">

    <!-- HEADING -->
    <center><br>
        <img src="../static/lambang.png" width="7%" ><br><br>
        <h2 class="display-4"><strong>Data Insight</strong>
        <br>
    </center>

<center>
    <br>
    <br>
    <!-- Slideshow container -->
    <div class="slideshow-container">
            
        <!-- Full-width images with number and caption text -->
        <div class="mySlides">
            <div class="numbertext">1 / 17</div>
            <img src="../static/1count.png" style="width:50%">
            <br/>
            <div class="text">Perbandingan antara Jumlah Customer yang tidak Churn (0) dan Customer yang Churn (1)</div>
        </div>
            
        <div class="mySlides ">
            <div class="numbertext">2 / 17</div>
            <img src="../static/2.png" style="width:50%">
            <br/>
            <div class="text">Customer yang Churn (1) cenderung memiliki waktu berlangganan (tenure) yang lebih singkat dibanding customer yang tidak Churn (0)</div>
        </div>
            
        <div class="mySlides ">
            <div class="numbertext">3 / 17</div>
            <img src="../static/3.png" style="width:50%">
            <br/>
            <div class="text">Customer yang tidak Churn (0) cenderung memiliki tagihan per bulan (Monthly Charges) yang lebih sedikit dibanding customer yang Churn (1)</div>
        </div>
    
        <div class="mySlides ">
            <div class="numbertext">4 / 17</div>
            <img src="../static/4.png" style="width:50%">
            <br/>
            <div class="text">Customer yang Churn (1) cenderung memiliki total tagihan (Total Charges) yang lebih sedikit dibanding customer yang tidak Churn (0)</div>
        </div>
            
        <div class="mySlides ">
            <div class="numbertext">5 / 17</div>
            <img src="../static/5a.png" style="width:50%">
            <img src="../static/5b.png" style="width:50%">
            <br/>
            <div class="text">Customer yang tidak memiliki pasangan cenderung memiliki waktu berlangganan (tenure) yang lebih singkat dibanding customer yang memiliki pasangan</div>
        </div>
            
        <div class="mySlides ">
            <div class="numbertext">6 / 17</div>
            <img src="../static/6.png" style="width:50%">
            <br/>
            <div class="text">Hampir semua customer yang memiliki tagihan per bulan (Monthly Charges) sekitar 20 atau diatas 60 memiliki phone service</div>
        </div>
            
        <div class="mySlides ">
            <div class="numbertext">7 / 17</div>
            <img src="../static/7.png" style="width:50%">
            <br/>
            <div class="text">Hampir semua customer yang mengguanakan internet service Fiber Optic memiliki tagihan per bulan (Monthly Charges) yang paling tinggi sedangkan hampir semua customer yang tidak memiliki internet service memiliki tagihan per bulan (Monthly Charges) yang paling rendah dibandingkan dengan customer yang memiliki internet service</div>
        </div>
            
        <div class="mySlides ">
            <div class="numbertext">8 / 17</div>
            <img src="../static/8a.png" style="width:50%">
            <img src="../static/8b.png" style="width:50%">
            <br/>
            <div class="text">Customer tua (1) memiliki kemungkinan churn lebih besar dibanding customer muda (0) </div>
        </div>
            
        <div class="mySlides ">
            <div class="numbertext">9 / 17</div>
            <img src="../static/9a.png" style="width:50%">
            <img src="../static/9b.png" style="width:50%">
            <br/>
            <div class="text">Customer yang tidak memiliki pasangan memiliki kemungkinan churn lebih besar dibanding customer yang mempunyai pasangan</div>
        </div>
            
        <div class="mySlides ">
            <div class="numbertext">10 / 17</div>
            <img src="../static/10a.png" style="width:50%">
            <img src="../static/10b.png" style="width:50%">
            <br/>
            <div class="text">Customer yang tidak memiliki dependent memiliki kemungkinan churn lebih besar dibanding customer yang mempunyai dependent</div>
        </div>
            
        <div class="mySlides ">
            <div class="numbertext">11 / 17</div>
            <img src="../static/11a.png" style="width:50%">
            <img src="../static/11c.png" style="width:50%">
            <br/>
            <div class="text">Customer yang menggunakan internet fiber optic memiliki kemungkinan churn lebih besar dibanding customer yang menggunakan internet DSL dan tidak menggunakan layanan internet</div>
        </div>

        <div class="mySlides ">
            <div class="numbertext">12 / 17</div>
            <img src="../static/12a.png" style="width:50%">
            <img src="../static/12c.png" style="width:50%">
            <br/>
            <div class="text">Customer yang tidak menggunakan online security memiliki kemungkinan churn lebih besar dibanding customer yang menggunakan online security dan tidak menggunakan layanan internet</div>
        </div>

        <div class="mySlides ">
            <div class="numbertext">13 / 17</div>
            <img src="../static/13a.png" style="width:50%">
            <img src="../static/13c.png" style="width:50%">
            <br/>
            <div class="text">Customer yang tidak menggunakan online backup memiliki kemungkinan churn lebih besar dibanding customer yang menggunakan online backup dan tidak menggunakan layanan internet</div>
        </div>

        <div class="mySlides ">
            <div class="numbertext">14 / 17</div>
            <img src="../static/14a.png" style="width:50%">
            <img src="../static/14b.png" style="width:50%">
            <br/>
            <div class="text">Customer yang tidak menggunakan device protection memiliki kemungkinan churn lebih besar dibanding customer yang menggunakan device protection dan tidak menggunakan layanan internet</div>
        </div>

        <div class="mySlides ">
            <div class="numbertext">15 / 17</div>
            <img src="../static/15a.png" style="width:50%">
            <img src="../static/15b.png" style="width:50%">
            <br/>
            <div class="text">Customer yang tidak menggunakan tech support memiliki kemungkinan churn lebih besar dibanding customer yang menggunakan tech support dan tidak menggunakan layanan internet</div>
        </div>

        <div class="mySlides ">
            <div class="numbertext">16 / 17</div>
            <img src="../static/16a.png" style="width:50%">
            <img src="../static/16b.png" style="width:50%">
            <br/>
            <div class="text">Customer yang berlangganan per bulan memiliki kemungkinan churn lebih besar dibanding customer yang berlangganan per tahun dan berlangganan per 2 tahun</div>
        </div>

        <div class="mySlides ">
            <div class="numbertext">17 / 17</div>
            <img src="../static/17a.png" style="width:50%">
            <img src="../static/17b.png" style="width:50%">
            <br/>
            <div class="text">Customer yang menggunakan paperless billing memiliki kemungkinan churn lebih besar dibanding customer yang tidak menggunakan paperless billing</div>
        </div>
            
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
        
    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
        <span class="dot" onclick="currentSlide(4)"></span> 
        <span class="dot" onclick="currentSlide(5)"></span> 
        <span class="dot" onclick="currentSlide(6)"></span> 
        <span class="dot" onclick="currentSlide(7)"></span> 
        <span class="dot" onclick="currentSlide(8)"></span> 
        <span class="dot" onclick="currentSlide(9)"></span> 
        <span class="dot" onclick="currentSlide(10)"></span> 
        <span class="dot" onclick="currentSlide(11)"></span>
        <span class="dot" onclick="currentSlide(12)"></span> 
        <span class="dot" onclick="currentSlide(13)"></span> 
        <span class="dot" onclick="currentSlide(14)"></span> 
        <span class="dot" onclick="currentSlide(15)"></span> 
        <span class="dot" onclick="currentSlide(16)"></span> 
        <span class="dot" onclick="currentSlide(17)"></span> 
    </div>
</center>

<!-- LOG OUT BUTTON -->
<center>
    <form action = "http://127.0.0.1:5000">
    <button style="height:45px;width:150px;font-size: 20px;text-align: center;line-height: 20px; background-color: yellow;color: black;  type="button" class="btn btn-info"">Home</button>
    </form><br><br>
</center>
    
<!--JavaScript at end of body for optimized loading-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1} 
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none"; 
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block"; 
  dots[slideIndex-1].className += " active";
}
</script>
</body>
</html>